[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pandas = "*"

[dev-packages]
ipykernel = "*"
pylint = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
